<h1 id="page_title">Graphic Design Portfolio</h1>

    <div class="design_container">
      <% @designs.each do |design| %>
      <div class="design">
        <%= design.img_name %>
        <a href="#"><%= link_to design.img_name, design %></a>
      </div>
      <% end %>
    </div>
