<h1 id="page_title">Graphic Design Portfolio</h1>

    <div class="design_container">
      <% @designs.each do |design| %>
      <div class="design">
        <p class="thumbnail_title"><%= design.img_name %></p>
        <%= link_to design do %>
          <%= image_tag design.image.url(:thumb)%>
        <% end %>
      </div>
      <% end %>
    </div>
