<h1 id="page_title">Graphic Design Portfolio</h1>

    <div id="posts_wrapper" class="skinny_wrapper">
      <% @designs.each do |design| %>
      <div class="post">
        <p class="date"><%= design.created_at.strftime('%A, %B, %d') %></p>
        <h2><a href="#"><%= link_to design.img_name, design %></a></h2>
        <hr>
      </div>
      <% end %>
    </div>
