<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
        <h2>About Me</h2>
        <hr>
        <p>
            I've just graduated from one of Europe's leading coding boot camps -
            <a href="http://makersacademy.com" target="_blank">Makers Academy</a>, in London. I aspire to become a full stack junior rails developer.
        </p>
        <p>
            This is a portfolio blog I designed in Rails, in order to showcase my rails skills and some of my web development projects and graphic designs.
        </p>
    </div>
    <div class="col-2 homepage_content">
        <h2>Latests Blog Posts</h2>
        <hr>

        <% @posts.each do |post| %>
        <h3>
            <a href="#"><%= link_to post.title, post %></a>
        </h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
        <% end %>


    </div>
    <div class="col-3 homepage_content">
        <h2>Latest Projects</h2>
        <hr>
        <% @projects.each do |project| %>
        <h3>
            <a href="#"><%= link_to project.title, project %></a>
        </h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d")%></p>
        <% end %>
    </div>
</div>
